*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(1 32 63);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.joke{
 color: white;
 border: 1px solid white;
 width: 70vw;
 margin: auto;
 padding: 20px;
 background-color: #333C83;
 margin-top: 300px;
}

h1{
    color: white;
}

.joke span {
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: #333C83;
}


button {
    margin-bottom: 380px;
    border: none;
    width: 110px;
    height: 35px;
    font-size: 20px;
    color: #333C83;
    background-color: #eeeeee;
    cursor: pointer;
}

